*.el
*.aux
*.log
*.synctex.gz
Latex/Almost_local_metrics/Almost_local_metrics.blg
Latex/Almost_local_metrics/Almost_local_metrics.bbl
Latex/.DS_Store
Latex/.DS_Store
Latex/.DS_Store
Latex/tangent_spaces_of_curves/tangent_space_of_curves.pdf
Latex/L2_metric/L2_metric.pdf
Latex/.DS_Store
Latex/master.toc
Latex/master.run.xml
Latex/frontpage/frontpage.aux
Latex/master.out
Latex/master-blx.bib
.DS_Store
Latex/.DS_Store
Latex/Anders-setting/.DS_Store
Latex/frontpage/frontpage.aux
Latex/bibtest.bib
Latex/Preliminaries/Preliminaries.log
